@font-face {
   font-family: GTWalsheimProRegular;
   src: url('./fonts/GTWalsheimPro-Regular.ttf');
}
@font-face {
   font-family: GTWalsheimProLight;
   src: url('./fonts/GTWalsheimPro-Light.ttf');
}
@font-face {
   font-family: GTWalsheimProThin;
   src: url('./fonts/GTWalsheimPro-Thin.ttf');
}
@font-face {
   font-family: GTWalsheimProBold;
   src: url('./fonts/GTWalsheimPro-Bold.ttf');
}

* {
   font-family: GTWalsheimProRegular, sans-serif;
   font-size: 1rem;
}

html {
   height: 100%;
   scrollbar-width: thin;
}

body {
   --primary: #e7b22b;
   --primary-light: #ffcd4e;
   --primary-dark: #b88400;
   --black: #3a3a3a;
   --danger: #ff5050;
   --grey: #f1f1f1;
   --white: #ffffff;

   color: var(--black);
   margin: 0;
   padding: 0;
}

#root {
   height: 100%;
}

/* bg */
.bg-primary {
   color: var(--white) !important;
   background-color: var(--primary) !important;
}
.bg-primary-light {
   color: var(--white) !important;
   background-color: var(--primary-light) !important;
}
.bg-primary-dark {
   color: var(--white) !important;
   background-color: var(--primary-dark) !important;
}
.bg-white {
   color: var(--black) !important;
   background-color: var(--white) !important;
}

/* text */
.text-primary {
   color: var(--primary) !important;
}
.text-primary-light {
   color: var(--primary-light) !important;
}
.text-primary-dark {
   color: var(--primary-dark) !important;
}
.text-white {
   color: var(--white) !important;
}

/* buttons */
.btn-primary {
   border: solid 1px var(--primary) !important;
   background-color: var(--primary) !important;
   color: var(--white) !important;
}
.btn-primary:hover {
   border: solid 1px var(--primary-dark) !important;
   background-color: var(--primary-dark) !important;
   color: var(--white) !important;
}
.btn-primary:focus {
   box-shadow: 0 0 0 0.25rem rgba(231, 178, 43, 50%) !important;
}

.btn-black {
   border: solid 1px var(--black) !important;
   background-color: var(--black) !important;
   color: var(--white) !important;
}
.btn-black:hover {
   border: solid 1px var(--white) !important;
   background-color: var(--white) !important;
   color: var(--black) !important;
}
.btn-black:focus {
   box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 50%) !important;
}

/* form-control */
.form-control {
   display: block !important;
   width: 100% !important;
   padding: 0.375rem 0.75rem !important;
   font-size: 1rem !important;
   font-weight: 400 !important;
   line-height: 1.5 !important;
   color: var(--black) !important;
   background-color: var(--white) !important;
   background-clip: padding-box;
   border: 1px solid #ced4da !important;
   -webkit-appearance: none !important;
   -moz-appearance: none !important;
   appearance: none !important;
   border-radius: 0.375rem !important;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}
.form-control:focus {
   color: var(--black) !important;
   background-color: var(--white) !important;
   border-color: var(--primary) !important;
   outline: 0 !important;
   box-shadow: 0 0 0 0.25rem rgba(231, 178, 43, 25%) !important;
}

.cursor {
   cursor: pointer;
}
.content {
   width: 100% !important;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   margin-left: 70px;
}

body::-webkit-scrollbar {
   width: 0.5rem !important;
}
body::-webkit-scrollbar-track {
   background-color: var(--black);
}
body::-webkit-scrollbar-thumb {
   background-color: var(--primary);
   border-radius: 30px;
}

.anna-img {
   min-width: 200px;
   width: 280px;
}

.custom-heading {
   font-family: GTWalsheimProBold, sans-serif;
}
.thin-text {
   font-family: GTWalsheimProThin;
}

.icon-medium {
   font-size: 30px;
}
.icon-large {
   font-size: 50px;
}
