.chatbot {
   height: 465px;
   width: 510px;
   position: fixed;
   bottom: 14%;
   right: 1%;

   z-index: 999;
}

.chatbot-avatar {
   width: 45px;
}
.chatbot-close,
.chatbot-send {
   cursor: pointer;
   font-size: 1.45rem;
}
.chathead {
   width: 70px;
   cursor: pointer;

   position: fixed;
   bottom: 5%;
   right: 3%;
}

.chatbot-header {
   padding: 10px 15px;
   border-radius: 10px 10px 0 0;
}
.chatbot-messages {
   width: 100%;
   height: 90%;
   background-color: var(--white);
   padding-top: 12px;
   -ms-overflow-style: none; /* for Internet Explorer, Edge */
   scrollbar-width: none; /* for Firefox */
   overflow-y: scroll;
   scroll-behavior: smooth;
}
.chatbot-messages::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
}

.chatbot-text-input {
   display: flex;
   align-items: center;
   padding: 12px;
   background-color: var(--white);
   border-top: solid 2px #f1f1f1;
   border-radius: 0 0 10px 10px;
}
.chatbot-text-input > input {
   width: 100%;
   border: none;
   outline: none;
   font-size: 1rem;
   width: 94%;
}

.chatbot-send {
   background-color: transparent;
   border: 0;
   outline: 0;
}

/* message */
.message {
   display: flex;
   align-items: flex-end;
   padding: 7px 18px;
}
.message.user {
   justify-content: flex-end;
}

.message-text {
   font-size: 0.9rem;
   border-radius: 8px;
   padding: 10px;
}
.message-avatar {
   margin-right: 10px;
}
.message-text.bot {
   background-color: var(--grey);
}
.message-loading {
   width: 35px;
}
.message-text.user {
   color: var(--white);
   background-color: var(--primary);
}
.message-text-link {
   font-size: inherit;
}
.message-text-link:active,
.message-text-link:focus {
   box-shadow: none !important;
}

/* recommended courses list */
.recommendedCourses {
   padding-left: 35px;
   font-size: 0.9rem !important;
   margin: 0;
}
.recommendedCourses > li {
   font-size: inherit;
}

/* card */
.message-cards {
   overflow: hidden;
   padding: 7px 18px;
   display: flex;
   align-items: flex-end;
}

.message-cards > .cards {
   overflow: auto;
   padding-bottom: 10px;
}

.message-cards > .cards .card-container:last-child {
   padding-right: 0;
}

.card {
   border: none !important;
}
.card-container {
   float: left;
   padding-right: 20px;
   width: 270px;
}
.card-body {
   display: flex !important;
   flex-direction: column !important;
   align-items: center !important;
   justify-content: center !important;
   padding: 0 !important;
   background-color: var(--grey) !important;
   border-radius: 10px !important;
}
.card-video {
   width: 200px;
   height: 150px;
}
.card-title {
   padding: 10px 8px !important;
   margin: 0 !important;
   text-align: center !important;
   font-size: 0.9rem !important;
}

.message-quick-replies {
   display: flex;
   flex-wrap: wrap;
   padding: 0px 15px 8px 70px;
}

.message-quick-reply-btn {
   font-size: 0.9rem;
}

.course-recommendation {
   padding: 12px 15px;
   cursor: pointer;
}
.course-recommendation span {
   font-size: 0.95rem;
}

.course-recommendation:hover {
   color: var(--primary);
   border-bottom: solid 1px var(--primary) !important;
}

.course-recommendation.active {
   border-bottom: none !important;
   border-top: none !important;
   border-right: none !important;
   border-left: solid 3px var(--primary) !important;
}

@media (max-width: 768px) {
   .chatbot {
      height: 70%;
      width: 90%;

      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
}

@media (max-height: 500px) {
   .chatbot {
      overflow-y: auto;
   }
}
