.rdt_Table * {
   font-size: 0.9rem !important;
}

.rdt_TableHeadRow {
   color: var(--white) !important;
   background-color: var(--primary) !important;
}
.rdt_TableCol {
   border-collapse: collapse !important;
   color: var(--white) !important;
   background-color: var(--primary) !important;
}

/* actions button */
.actions-btn {
   cursor: pointer;
   font-size: 20px !important;
   width: 20px !important;
   color: var(--black) !important;
}
.actions-btn:hover {
   color: var(--primary) !important;
}

/* modals */
.rdt_Table .modal-header .modal-title {
   font-size: 1.25rem !important;
}
.rdt_Table .modal-header svg {
   font-size: 25px !important;
   max-width: 25px !important;
}
