.navbar {
   padding: 15px 0 !important;
   z-index: 500 !important;
}
.navbar-nav {
   color: var(--black) !important;
}
.nav-item {
   padding: 10px 15px !important;
}

.nav-link {
   padding: 0 !important;
   color: inherit !important;
   font-size: 1.05rem !important;
}
.navbar-nav .nav-item:last-child {
   padding-right: 0 !important;
}

.nav-link:hover {
   color: var(--primary) !important;
}

.navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(58, 58, 58) ' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler {
   border-color: var(--black) !important;
}
.navbar-toggler:focus {
   text-decoration: none !;
   outline: none !important;
   box-shadow: 0 0 0 0.25rem rgba(58, 58, 58, 0.25) !important;
}

.feature,
.member {
   width: 30%;
}

.section-first {
   margin-top: 120px;
}

/* media quiries */
@media (max-width: 992px) {
   .section h1 {
      font-size: 1.5rem;
   }
   .section p,
   .section button {
      font-size: 0.9rem;
   }

   .nav-link {
      text-align: center !important;
   }
}

@media (max-width: 768px) {
   .feature,
   .member {
      text-align: center;
      width: 100%;
   }

   .feature > svg,
   .feature > img,
   .member > img {
      display: block;
      margin: 0 auto;
   }
}
